{% autoescape %}
    {% apply spaceless %}
        <!DOCTYPE html>
        <html>
            {% include 'partials/header.twig' %}

            <body>
                <header>
                    {% include 'partials/navbar.twig' %}
                </header>

                <main role="main" class="container-fluid">
                    {% block content %}
                    {% endblock %}
                </main>
            </body>

            {% include 'partials/footer.twig' %}
        </html>
    {% endapply %}
{% endautoescape %}
