{% autoescape %}
    {% apply spaceless %}
        <!DOCTYPE html>
        <html>
            {% include 'partials/header.twig' %}

            <header>
                {% include 'partials/navbar.twig' %}
            </header>

            <body>
               {% block content %}
               {% endblock %}
            </body>

            {% include 'partials/footer.twig' %}
        </html>
    {% endapply %}
{% endautoescape %}
