<nav class="navbar navbar-expand-md navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand mb-2" href="#">
            <img src="/assets/images/banner.png" alt="" width="200" height="34"/>
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#headerNavbar" aria-controls="headerNavbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-end" id="headerNavbar">
            <div class="d-md-flex">
                <ul class="navbar-nav mb-2 mb-lg-0">
                    <li class="nav-item active m-1">
                        <a class="nav-link fw-bold rounded-pill px-4 text-center border border-danger btn-trired" href="/">Home</a>
                    </li>
                    <li class="nav-item active m-1">
                        <a class="nav-link fw-bold rounded-pill px-4 text-center border border-primary btn-triblue" href="/contact">Contact</a>
                    </li>
                    <li class="nav-item active m-1">
                        <a class="nav-link fw-bold rounded-pill px-4 text-center border border-warning btn-triyellow" href="/about">About us</a>
                    </li>
                    <li class="nav-item active m-1">
                        <a class="nav-link fw-bold rounded-pill px-4 text-center border border-dark " href="/auth/request">Log in</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>
