{% extends "partials/base.twig" %}
{% set title = "About Us" %}

{% block content %}
<div class="container px-5" style="width: 70%">
    <div class="container mb-5">
        <h2 class="mb-3">Our team</h2>
        <div class="row">
            <div class="col">
                <div class="card">
                    <img src="https://www.seekpng.com/png/detail/49-498061_headshot-placeholder-headshot-placeholder-male-headshot-silhouette-gender.png" class="card-img-top" alt=""/>
                    <div class="card-body">
                        <h4 class="card-text">Luca</h4>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="https://www.seekpng.com/png/detail/49-498061_headshot-placeholder-headshot-placeholder-male-headshot-silhouette-gender.png" class="card-img-top" alt=""/>
                    <div class="card-body">
                        <h4 class="card-text">Joris</h4>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="https://www.seekpng.com/png/detail/49-498061_headshot-placeholder-headshot-placeholder-male-headshot-silhouette-gender.png" class="card-img-top" alt=""/>
                    <div class="card-body">
                        <h4 class="card-text">Pepijn</h4>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="https://www.seekpng.com/png/detail/49-498061_headshot-placeholder-headshot-placeholder-male-headshot-silhouette-gender.png" class="card-img-top" alt=""/>
                    <div class="card-body">
                        <h4 class="card-text">Jord</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <h2>Our project</h2>
        <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsa error a modi, officiis voluptates possimus! Doloremque soluta sit unde asperiores excepturi harum. Hic reiciendis tempora sed dolorem earum alias ipsa.
        </p>
    </div>
</div>
{% endblock %}
